{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <!-- Breakcrumb -->
    <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li>
                <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
            </li>
            <li>
                Changement du mot de passe
                </li>
        </ul>
    </section>
    <section class="contact-page margin-top">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
                      class="fos_user_change_password">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="Changer" class="btn btn-success margin-top margin-bottom"/>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}