{% extends '::base.html.twig' %}

{% block body -%}
    <section class="breakcrumb-sc">
        {{ cnerta_breadcrumb_render('SiteBundle:Builder:guideShowMenu') }}

        <div class="support float-right">
            <small>Ajouté le:</small>
            {{ entity.dateCreation }}

        </div>
    </section>
    <!-- End Breakcrumb -->
    {% if app.user == entity.user %}

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Êtes-vous sûre de vouloir supprimer ce contenu?</h4>
                    </div>
                    <div class="modal-footer">
                        <table class="float-right">
                            <tr>
                                <td class="">
                                    <button type="button" class="margin-right btn btn-default" data-dismiss="modal">
                                        Non
                                    </button>
                                </td>
                                <td>
                                    {{ form(delete_form) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Header Detail -->
    <section class="head-detail">
        <div class="head-dt-cn">
            <div class="row">
                <div class="col-sm-7">
                    <div class="start-address">
                        <span class="{% if entity.valid %}check-valid1{% endif %}"></span>
                        <span class="h1{% if entity.valid %} padding-left{% endif %}">{{ entity.titre }}</span> -
                        <span class="star">
                        {% if entity.rating != 0 %}
                            {% for  i in 1.. entity.rating %}
                                <i class="fa fa-star"></i>
                            {% endfor %}

                            {% if (entity.rating|round(0, 'floor')) != 0 and entity.rating / (entity.rating|round(0,'floor'))  != 1  and entity.rating != (entity.rating|round(0,'floor')) %}
                            <i class="fa fa-star-half-full"></i>
                        {% endif %}
                            {% else %}
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        </span>
                    </div>
                </div>
                <div class="col-sm-5 text-right">
                    <p class="price-book">
                        <span>{{ entity.contributions | length }}</span> contributeur(s)
                        {% if app.user == entity.user %}
                            <a href="{{ path('guide_edit',{'id':entity.id}) }}" title=""
                               class="awe-btn awe-btn-lager btn-warning">Modifier</a>
                            <a href="#" title="" class="awe-btn awe-btn-lager btn-danger" data-toggle="modal"
                               data-target="#myModal">Supprimer</a>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            {% if not(entity.valid) %}
                                <a href="{{ path('valider_guide',{'guide':entity.id, 'valid': 1}) }}" title=""
                                   class="awe-btn awe-btn-lager btn-warning">Valider</a>
                            {% else %}
                                <a href="{{ path('valider_guide',{'guide':entity.id, 'valid': -1}) }}" title=""
                                   class="awe-btn awe-btn-lager btn-danger">Rejeter</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('guide_contribute',{'id':entity.id}) }}" title=""
                               class="awe-btn awe-btn-1 awe-btn-lager">Contribuer</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header Detail -->

    <!-- Detail Slide -->
    <section class="detail-slider">
        <!-- Lager Image -->
        <div class="slide-room-lg">
            <div id="slide-room-lg">
                <img src="{{ asset(entity.image.path) }}" alt="">
            </div>
        </div>
        <!-- End Lager Image -->
        <!-- Thumnail Image -->
        <div class="slide-room-sm">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="slide-room-sm">
                        <img src="{{ asset(entity.image.path) }}" alt="">
                        <img src="{{ asset(entity.image.path) }}" alt="">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Thumnail Image -->
    </section>
    <!-- End Detail Slide -->

    <!-- Hotel Content One -->
    <section class="hotel-content detail-cn" id="hotel-content">
    <div class="row">
    <div class="col-lg-3 detail-sidebar">
        <!-- Hight Light -->
        <div class="hight-light">

            <h2>Les avis</h2>
            <!-- Vote Text -->
            <div class="row">

                <!-- Recommend -->
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6 vote-text">
                    <p><span>{{ entity.rating | round(1) }}</span></p>
                    {% set voted = false %}
                    {% for user in entity.ratings %}
                        {% if app.user == user %}
                            {% set voted = true %}
                        {% endif %}
                    {% endfor %}
                    {% if is_granted('ROLE_USER') and voted == false %}
                        <form action="{{ path('guide_vote', {'guide':entity.id}) }}">
                            <input type="number" class="form-control" min="0" max="5" name="rating"/> <br/>
                            <button class="btn btn-success">Votez</button>
                        </form>
                    {% else %}
                        <a href="#" title="">{{ entity.nbrRating }} membres ont noté ce guide</a>
                    {% endif %}
                </div>
                <!-- End Recommend -->
                <!-- Tripadvitsor -->
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-6  vote-text">
                        <span>
                            <span class="s30">{{ entity.nbrRec }} </span>
                            <a href="{{ path('guide_recommend', {'guide':entity.id, 'state':1} ) }}">
                                <i class="fa fa-thumbs-o-up c049905 s30"></i>
                            </a>
                        </span>
                    <hr/>
                        <span>
                            <span class="s30">{{ entity.nbrNonRec }} </span>
                             <a href="{{ path('guide_recommend', {'guide':entity.id, 'state':-1} ) }}">
                                 <i class="fa fa-thumbs-o-down cCC0101 s30"></i>
                             </a>
                        </span>
                </div>
                <!-- End Tripadvitsor -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <hr class="hr">

                    <!-- Quote -->
                    <blockquote class="quote-sidebar">
                        <p>
                            <strong>Auteur: </strong>
                            <br/><span>{{ entity.user.nom | upper }} {{ entity.user.prenom }}</span> <br/>
                            Great location tucked behind the Ritz Hotel on Piccadilly. Good value for money. The
                            suite I booked was good.<br>
                            <span><b>Daniel Brown</b> - Sweden,  28/3/2013</span>
                        </p>
                    </blockquote>
                    <!-- End Quote -->
                </div>
            </div>
            <!-- End Vote Text -->


        </div>
        <!-- End Hight Light -->
    </div>

    <!-- Description -->
    <div class="col-lg-9 hl-customer-like">

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning margin-top">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success margin-top">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h2>Description</h2>

    <!-- Custom link field -->
    <div class="customer-like">
        <ul>
            <li>{{ entity.description }}</li>
        </ul>
        {% if entity.contributions | length != 0 %}
            {% for c in entity.contributions %}
                <hr/>
                <ul>
                    <li>{{ c.descr }}. - <a href="#">{{ c.user.nom }} {{ c.user.prenom }}</a></li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    <!-- End Custom link field -->
    {% if entity.villes | length != 0 %}
        <h2>Les villes conseillées par ce guide</h2>
        {% for v in entity.villes %}
            <div class="hotel-list-item">
                <figure class="hotel-img float-left">
                    <a href="hotel-detail.html" title="">
                        <img src="{{ asset('bundles/site/images/hotel/img-1.jpg') }}" height="100px"
                             alt="">
                    </a>
                </figure>
                <div class="hotel-text">
                    <div class="hotel-name">
                        <a href="hotel-detail.html" title="">{{ v.nom }}</a>
                    </div>
                    <div class="hotel-star-address">
                                <span class="hotel-star">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </span>
                                <span class="rating">
                                        <ins>{{ v.rating }}</ins><br/>
                                    {{ v.nbrRating }} avis

                                </span>
                        <address class="hotel-address">
                                    <span> <span class="s20">{{ v.nbrRec }} </span>
                                    <i class="fa fa-thumbs-o-up c049905 s20"></i></span>
                                <span> <span class="s20">{{ v.nbrNonRec }} </span>
                                    <i
                                            class="fa fa-thumbs-o-down cCC0101 s20"></i></span>
                        </address>
                    </div>

                </div>
                {% set nc = v.commentaires | length %}
                {% if nc == 1 %}
                    <p>
                        <a href="#" title="">Voir tous le commentaire</a>
                    </p>
                {% elseif nc > 1 %}
                    <p>
                        <a href="#" title="">Voir tous les {{ v.commentaires | length }} commentaires</a>
                    </p>
                {% else %}
                    <br/>
                {% endif %}
            </div>
            <hr/>
        {% endfor %}
    {% endif %}
    {% if entity.contributions | length != 0 %}
        {% if entity.villes | length == 0 %}
            <h2>Les villes conseillées par ce guide</h2>
        {% endif %}
        {% for v1 in entity.contributions %}
            {% for v in v1.villes %}
                <div class="hotel-list-item">
                    <figure class="hotel-img float-left">
                        <a href="hotel-detail.html" title="">
                            <img src="{{ asset('bundles/site/images/hotel/img-1.jpg') }}" height="100px"
                                 alt="">
                        </a>
                    </figure>
                    <div class="hotel-text">
                        <div class="hotel-name">
                            <a href="hotel-detail.html" title="">{{ v.nom }}</a> - Ajouté
                            par: {{ v1.user.nom }} {{ v1.user.prenom }}
                        </div>
                        <div class="hotel-star-address">
                                <span class="hotel-star">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </span>
                                <span class="rating">
                                        <ins>{{ v.rating }}</ins><br/>
                                    {{ v.nbrRating }} avis

                                </span>
                            <address class="hotel-address">
                                    <span> <span class="s20">{{ v.nbrRec }} </span>
                                    <i class="fa fa-thumbs-o-up c049905 s20"></i></span>
                                <span> <span class="s20">{{ v.nbrNonRec }} </span>
                                    <i
                                            class="fa fa-thumbs-o-down cCC0101 s20"></i></span>
                            </address>
                        </div>

                    </div>
                    {% set nc = v.commentaires | length %}
                    {% if nc == 1 %}
                        <p>
                            <a href="#" title="">Voir tous le commentaire</a>
                        </p>
                    {% elseif nc > 1 %}
                        <p>
                            <a href="#" title="">Voir tous les {{ v.commentaires | length }} commentaires</a>
                        </p>
                    {% else %}
                        <br/>
                    {% endif %}
                </div>
                <hr/>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if entity.lieux | length != 0 %}
        <h2>Les lieux conseillés par ce guide</h2>
        {% for l in entity.lieux %}
            <div class="panel">
                <div class="panel-heading" id="headingOne">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                           data-parent="#accordion{{ l.id }}"
                           href="#collapseOne{{ l.id }}"
                           style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
                            {% if l.isHotel %}
                                <span class="num _1">Hôtel</span>
                            {% elseif l.isResto %}
                                <span class="num _3">Restaurent</span>
                            {% elseif l.isMonument %}
                                <span class="num _2">Monument</span>
                            {% endif %}
                            {{ l.nom }}
                            <span class="icon fa fa-angle-down"></span>
                        </a>
                    </h4>

                </div>
                <div id="collapseOne{{ l.id }}" class="panel-collapse collapse" aria-labelledby="headingOne">

                    <img src="{{ asset('bundles/site/images/hotel/img-1.jpg') }}" height="100px" width="100%"
                         alt="">


                    {{ l.description }}

                    <p class="hotel-text">

                    <div class="hotel-name">
                        Ajouté
                        par: <a href="#">{{ l1.user.nom }} {{ l1.user.prenom }}</a>
                    </div>
                    <div class="hotel-star-address">
                                    <span class="hotel-star">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </span>
                                    <span class="rating">
                                         - {{ l.nbrRating }} avis

                                    </span>
                                        <span> <span class="s20">{{ l.nbrRec }} </span>
                                        <i class="fa fa-thumbs-o-up c049905 s20"></i></span>
                                    <span> <span class="s20">{{ l.nbrNonRec }} </span>
                                        <i class="fa fa-thumbs-o-down cCC0101 s20"></i></span>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if  entity.contributions |length != 0 %}
        {% if entity.lieux | length == 0 %}
            <h2>Les lieux conseillés par ce guide</h2>
        {% endif %}
        <div class="panel-group" id="accordion">

            {% for l1 in entity.contributions %}
                {% for l in l1.lieux %}
                    <div class="panel">
                        <div class="panel-heading" id="headingOne">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse"
                                   data-parent="#accordion{{ l.id }}"
                                   href="#collapseOne{{ l.id }}"
                                   style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
                                    {% if l.isHotel %}
                                        <span class="num _1">Hôtel</span>
                                    {% elseif l.isResto %}
                                        <span class="num _3">Restaurent</span>
                                    {% elseif l.isMonument %}
                                        <span class="num _2">Monument</span>
                                    {% endif %}
                                    {{ l.nom }}
                                    <span class="icon fa fa-angle-down"></span>
                                </a>
                            </h4>

                        </div>
                        <div id="collapseOne{{ l.id }}" class="panel-collapse collapse" aria-labelledby="headingOne">

                            <img src="{{ asset('bundles/site/images/hotel/img-1.jpg') }}" height="100px" width="100%"
                                 alt="">


                            {{ l.description }}

                            <div class="hotel-text">

                                <div class="hotel-name">
                                    Ajouté
                                    par: <a href="#">{{ l1.user.nom }} {{ l1.user.prenom }}</a>
                                </div>
                                <div class="hotel-star-address">
                                <span class="hotel-star">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </span>
                                <span class="rating">
                                     - {{ l.nbrRating }} avis

                                </span>
                                    <span> <span class="s20">{{ l.nbrRec }} </span>
                                    <i class="fa fa-thumbs-o-up c049905 s20"></i></span>
                                <span> <span class="s20">{{ l.nbrNonRec }} </span>
                                    <i class="fa fa-thumbs-o-down cCC0101 s20"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

    {% endif %}

    {% if entity.autres | json_decode | length != 0 or entity.contributions | length != 0 %}
        <h2>Autres informations</h2>
        {% set obj = entity.autres | json_decode %}
        {% for key, content in obj %}
            <!-- Custom link field -->
            <div class="customer-like">
                        <span class="cs-like-label">
                            {{ key }}
                        </span>
                <ul>
                    <li>{{ content }}</li>
                </ul>
            </div>
            <!-- End Custom link field -->
        {% endfor %}
        {% for c in entity.contributions %}
            {% for key, content in c.autreInfo | json_decode %}
                <!-- Custom link field -->
                <div class="customer-like">
                        <span class="cs-like-label">
                            {{ key }}
                        </span>
                    <ul>
                        <li>{{ content }}</li>
                    </ul>
                </div>
                <!-- End Custom link field -->
            {% endfor %}
        {% endfor %}
    {% endif %}
    <h2>Commentaires</h2>

    <div class="review-all">
        {% for comment in entity.commentaires %}
            <!-- Review Item -->
            <div class="row review-item" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);">
                <div class="col-xs-3 review-number">
                    <ins>5.6</ins>
                    <span>{{ comment.user.nom | upper }} {{ comment.user.prenom }}</span>
                    <small>{{ comment.dateCreation | date('d-m-Y H:i') }}</small>
                </div>
                <div class="col-xs-9 review-text">
                    {% if comment.good or comment.bad %}
                        <ul>
                            {% if comment.good %}
                                <li><span class="icon fa fa-plus"></span>{{ comment.good }}</li>
                            {% endif %}
                            {% if comment.bad %}
                                <li><span class="icon icon-minus fa fa-minus"></span>{{ comment.bad }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <p>{{ comment.contenu }}</p>
                </div>
            </div>
            <!-- End Review Item -->
        {% else %}
            <h4>Il n'y a aucun commentaire!</h4>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            <div class="">
                <form action="{{ path('guide_comment', {'guide':entity.id}) }}">
                    <table class="table">
                        <tr>
                            <td>
                                <textarea class="form-control resize-off" name="comment" id="" cols="20" rows="6"
                                          required="required"></textarea>
                            </td>
                            <td>
                                <input class="form-control" name="good" placeholder="Points positives"
                                       type="text"/><br/>
                                <input class="form-control" name="bad" placeholder="Points négatives" type="text"/><br/>
                                <button type="submit" class="btn btn-default">Ajouter</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endif %}
    </div>
    </div>

    </div>


    </section>

{% endblock %}
